<div class="container page">
  <nav class="container">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a *ngFor="let tab of dynamicTabs" class="nav-item nav-link" [class.active]="tab.active" [id]="tab.id"
        (click)="selectTab(tab)">{{tab.name}} <span *ngIf="tab.isCloseable" (click)="closeTab(tab)">x</span></a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane active" role="tabpanel">
      <ng-template appTabHost></ng-template>
    </div>
  </div>
</div>