.container.page {
  margin-top: 100px;
}

nav {
  position: fixed;
  z-index: 1;
  right: 0;
  left: 0;
  padding-top: 30px;
  background-color: #fff;

  .nav-item {
    &:hover {
      color: #fff;
    }

    &.active:hover {
      color: #000;
    }

    span {
      margin-left: 5px;
    }
  }
}

.tab-content {
  position: relative;
  top: 72px;
  border: none;
}