@import "~boosted/scss/functions";
@import "~boosted/scss/variables";

:host {
  display: block;
  width: 100%;

  .dropdown, button { 
    width: 100%;
  }
}

button {
  border: 2px solid $gray-500;
  text-align: left;
  padding: 8px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &.no-value-selected {
    color: $gray-700;

    &:hover {
      color: $gray-700;
    }
  }

  &:hover {
    color: inherit;
  }

  &::after {
    display: none;
  }

  &::before {
    content: "";
    color: $black;
    float: right;
    margin-left: .371875em;
    border-top: .35em solid;
    border-right: .35em solid transparent;
    border-bottom: 0;
    border-left: .35em solid transparent;
    margin-top: 8px;
  }
}

.show button {
  border: 2px solid $gray-900;
  background-color: $gray-900;
  color: $gray-100;

  &::before {
    color: $gray-100;
  }
}

.dropdown-menu {
  box-shadow: 0 0 5px $gray-600;
  background-color: $gray-200;

  .input {
    padding: 5px;
    
    input:focus {
      box-shadow: 0 0 3px $gray-600;
    }
  }

  .items {
    max-height: 240px;
    overflow-y: scroll;

    .dropdown-item {
      padding-left: 0.625rem;
      display: table;

      &.active {
        background-color: $gray-900;
        color: $gray-100;

        &:hover {
          background-color: $gray-900;
        }
      }

      &:hover {
        background-color: $gray-400;
      }

      span {
        display: table-cell;
        vertical-align: middle;
      }

      span:first-child {
        width: 250px;
        max-width: 250px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      span:last-child {
        text-align: right;
        padding-left: 25px;
      }
    }
  }
}